.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 16px;
}

.calendarPane {
  flex: 1;
  overflow: hidden;
  border: 1px solid var(--gray3);
  border-radius: 20px;
  margin-right: 16px;
}

.sidePane {
  width: 660px;
  min-width: 660px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
}

.miniCalendar {
  border: 1px solid var(--gray3);
  border-radius: 16px;
  overflow: hidden;
  width: 360px;
}

.scheduleList {
  overflow: hidden;
  border: 1px solid var(--gray3);
  border-radius: 16px;
  flex: 1;
}

.topSide {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 400px;
  gap: 16px;
}

.chatPane {
  flex: 1;
  overflow: hidden;
  border: 1px solid var(--gray3);
  border-radius: 16px;
}